
tabula-Energy-Revolution-2015-Full.numbers
CraneExcelPython.ipynb
CraneExcelPython.ipynb
drawdown-master/data_allocation_compiled.csv
drawdown-master/Solutions_ad_compiled.csv
drawdown-master/Solutions_ad_compiled.csv
drawdown-master/Solutions_ca_pds_data_compiled.csv
drawdown-master/Solutions_ca_ref_data_compiled.csv
drawdown-master/Solutions_tam_compiled.csv
drawdown-master/Solutions_VMA_compiled.csv
drawdown-master/Solutions_VMA_info_compiled.csv
DrawdownDataScrape/data_allocation_compiled.csv
DrawdownDataScrape/Solutions_ca_pds_data_compiled.csv
DrawdownDataScrape/Solutions_ca_ref_data_compiled.csv
DrawdownDataScrape/Solutions_ad_compiled.csv
DrawdownDataScrape/Solutions_VMA_compiled.csv
DrawdownDataScrape/Solutions_tam_compiled.csv
DrawdownDataScrape/Solutions_VMA_info_compiled.csv
*.csv
*.csv
*.pdf
*.ipynb
